<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Listing Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <h1>Listing</h1>
    <form action="/listings/<%= data.id %>?_method=PUT" method="POST">
      <label for="data[name]"></label>Resource: <input name="data[name]" value="<%= data.name %>" readonly><br>
      <label for="data[phone_number]">Phone: </label><input name="data[phone_number]" value="<%= data.phone_number %>" readonly><br>
      <label for="data[listing_type]">I am a: </label><input name="data[listing_type]" value="<%= data.listing_type %>" readonly><br>
      <label for="data[oxygen_level]">Oxygen Level</label><input name="data[oxygen_level]" value="<%= data.oxygen_level %>"><br>
      <label for="data[area]"></label>Area: <input name="data[area]" value="<%= data.area %>"><br>
      <label for="data[city]"></label>City: <input name="data[city]" value="<%= data.city %>"><br>
      <label for="data[state]"></label>State: <input name="data[state]" value="<%= data.state %>"><br>
      <label for="data[pincode]"></label>Pincode: <input name="data[pincode]" value="<%= data.pincode %>"><br>
      <button>Update</button>
    </form>
  </body>
</html>
