<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Listing Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/utils.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="container">
      <div class="row">
        <br />
        <input
          type="hidden"
          id="allstates"
          value="<%= JSON.stringify(states) %>"
          required
        />
        <div style="width: 40%; margin: 25px auto">
          <form action="/listings/<%= listingId %>?_method=PUT" method="POST">
            <div class="form-group">
              <label for="data[name]"></label>Resource:
              <input
                class="form-control"
                name="data[name]"
                value="<%= data.name %>"
                readonly
                required
              />
            </div>
            <div class="form-group">
              <label for="data[phone_number]">Phone: </label
              ><input
                class="form-control"
                name="data[phone_number]"
                value="<%= data.phone_number %>"
                readonly
                required
              />
            </div>
            <div class="form-group">
              <label for="data[listing_type]">I am a: </label
              ><input
                class="form-control"
                name="data[listing_type]"
                value="<%= data.listing_type %>"
                readonly
                required
              />
            </div>
            <div class="form-group">
              <label for="data[oxygen_level]">Oxygen Level</label
              ><input
                class="form-control"
                name="data[oxygen_level]"
                value="<%= data.oxygen_level %>"
              />
            </div>
            <div class="form-group">
              <div class="form-group">
                <label for="data[state]"></label>State:
                <select
                  name="data[state]"
                  id="state"
                  class="form-control"
                  required
                >
                  <option value="" selected disabled>Select</option>
                  <% for (let state in states){ if(data.state == state) { %>
                  <option value="<%= state %>" selected><%= state %></option>
                  <%} else %>
                  <option value="<%= state %>"><%= state %></option>
                  <%}%>
                </select>
              </div>
              <div class="form-group">
                <label for="data[city]"></label>City:
                <select
                  name="data[city]"
                  id="city"
                  class="form-control"
                  required
                >
                  <% for (let city of states[data.state]) { if(city ==
                  data.city){ %>
                  <option value="<%= city %>" selected><%= city %></option>
                  <% }else %>
                  <option value="<%= city %>"><%= city %></option>
                  <%}%>
                </select>
              </div>
              <label for="data[area]"></label>Area:
              <input
                class="form-control"
                name="data[area]"
                value="<%= data.area %>"
                required
              />
            </div>
            <div class="form-group">
              <label for="data[pincode]"></label>Pincode:
              <input
                class="form-control"
                name="data[pincode]"
                value="<%= data.pincode %>"
                required
              />
            </div>
            <button class="btn btn-lg btn-primary btn-block">Update</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
