<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Listing Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <h1>Listing</h1>
    <table class="table table-striped">
      <thead>
        <tr>
        <th scope="col">Type</th>
        <th scope="col">Resource</th>
        <th scope="col">Quantity</th>
        <th scope="col">Oxygen Level</th>
        <th scope="col">State</th>
        <th scope="col">City</th>
        <th scope="col">Area</th>
        <th scope="col">Pincode</th>
        <th scope="col">Phone</th>
      </tr>
      </thead>
      <tbody>
        <% for(let row of data) {%>
        <tr>
          <td><%= row.listing_type %></td>
          <td><%= row.name %></td>
          <td><%= row.quantity %></td>
          <td><%= row.oxygen_level %></td>
          <td><%= row.state %></td>
          <td><%= row.city %></td>
          <td><%= row.area %></td>
          <td><%= row.pincode %></td>
          <td><%= row.phone_number %></td>
          <td><a href="/listings/<%= row.listingId %>">edit</a></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
